{
  "plugins": ["prettier-plugin-tailwindcss"],
  "htmlWhitespaceSensitivity": "strict",
  "quoteProps": "consistent",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx,mjs,mts,cjs}",
      "options": {
        "bracketSameLine": false,
        "singleQuote": true,
        "jsxSingleQuote": false,
        "plugins": [
          "@trivago/prettier-plugin-sort-imports",
          "prettier-plugin-tailwindcss"
        ],
        "importOrder": [
          "<THIRD_PARTY_MODULES>",
          "^@/(data)/?(.*)$",
          "^@/(public)/?(.*)$",
          "^@/(i18n)/?(.*)$",
          "^@/(model|consts|store|hooks|lib|utils|services)/?(.*)$",
          "^@/types/?(.*)$",
          "^@/styles/?(.*)$",
          "^@/ui/?(.*)$",
          "^@/components/?(.*)$",
          "^@/(.*)$",
          "^[./]"
        ],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true
      }
    }
  ]
}
